.subject
  編集する
.post
  = form_for @illustration do |f|
    .post__title
      = f.text_field :title, class: 'titlee', placeholder: 'タイトル'
    .post__text
      = f.text_field :text, class: 'text', placeholder: 'テキスト'
    .post__image
      = f.label :image, class: 'image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'image__file'
    .send
      = f.submit 'send', class: 'submit-btn'