= render @illustration
.comment
  - if current_user
    = form_for [@illustration, @comment] do |f|
      %form
        = f.text_field :comment, class: 'comment-form', placeholder: 'コメントを入力してね'
        = f.submit 'send', class: 'comment-btn'
.comment-list
  <コメント一覧>
  - if @comments
    - @comments.each do |comment|
      .comment-list__row
        = link_to comment.user.name, "/users/#{comment.user_id}"
        = ":  #{comment.comment}"
