!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Illust
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__logo
        =link_to root_path do
          illust
      - if user_signed_in?
        .header__post
          =link_to new_illustration_path do
            = fa_icon("arrow-circle-right", text: "投稿する")
        .header__out
          =link_to destroy_user_session_path do
            =fa_icon("sign-out", text: "サインアウト")
      - else
        .header__rogin
          =link_to new_user_session_path do
            =fa_icon("sign-in", text: "ログイン")
        .header__signapp
          =link_to new_user_registration_path do
            = fa_icon("sign-in", text: "新規登録")
    = yield
